<div class="jumbotron">
    <h1 class="text-center">
      Wilkommen bei der Bewerbung von:<br/>
      Nikolaj Zander
    </h1>
</div>
<p class="text-center">
  <%= link_to 'Meine Projekte', {controller: 'projects'}, class: "btn btn-lg btn-primary" %>
  <%= link_to 'Neues Projekt', new_project_path, class: "btn btn-lg btn-primary" %>
</p>

